<a href="https://colab.research.google.com/github/kmorawala/Alexa-Interview-Me/blob/master/data_cleaning/Data_Cleaning_and_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Items to discuss:
Per BCNF, I think we may have to further breakdown the tables:
* I suggest  removing the park ID in the parks data

## Setup / Importing necessary libraries

In [ ]:
import requests
import json
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
import re

## Mounting Google Drive

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

## Set up file paths

In [ ]:
parks_path = '/content/drive/Shareddrives/CIS 550 Project/parks.csv' # Path
species_path = '/content/drive/Shareddrives/CIS 550 Project/species.csv' # Path
visitation_data_path = '/content/drive/Shareddrives/CIS 550 Project/visitation_data.csv' # Path
visitation_data = pd.read_csv(visitation_data_path,skipinitialspace=True)
species_data = pd.read_csv(species_path,skipinitialspace=True)
park_data = pd.read_csv(parks_path,skipinitialspace=True)
visitation_data = visitation_data.replace(r'^\s*$', np.NaN, inplace=False, regex=True)
species_data = species_data.replace(r'^\s*$', np.NaN, inplace=False, regex=True)
park_data = park_data.replace(r'^\s*$', np.NaN, inplace=False, regex=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# View any rows with NaN values
visitation_data.loc[:, visitation_data.isna().any()]

                                                Metadata  ...  Visitors
0                                                    NaN  ...    1500.0
1                                                    NaN  ...       0.0
2                                                    NaN  ...   69000.0
3                                                    NaN  ...    2200.0
4                                                    NaN  ...  468144.0
...                                                  ...  ...       ...
21555                                                NaN  ...    1400.0
21556  http://nrdata.nps.gov/programs/Lands/YELL_meta...  ...   26188.0
21557  http://nrdata.nps.gov/programs/Lands/KICA_meta...  ...    1000.0
21558  http://nrdata.nps.gov/programs/Lands/MORA_meta...  ...     928.0
21559  http://nrdata.nps.gov/programs/Lands/WICA_meta...  ...    2438.0

[21560 rows x 3 columns]

In [ ]:
#view items with NA
park_data.loc[:, park_data.isna().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [ ]:
#view items with NA
species_data.loc[:, species_data.isna().any()]

                Order          Family  ... Conservation Status Unnamed: 14
0        Artiodactyla        Cervidae  ...                 NaN         NaN
1        Artiodactyla        Cervidae  ...                 NaN         NaN
2           Carnivora         Canidae  ...  Species of Concern         NaN
3           Carnivora         Canidae  ...          Endangered         NaN
4           Carnivora         Canidae  ...                 NaN         NaN
...               ...             ...  ...                 ...         ...
119243      Solanales      Solanaceae  ...                 NaN         NaN
119244        Vitales        Vitaceae  ...                 NaN         NaN
119245        Vitales        Vitaceae  ...                 NaN         NaN
119246  Zygophyllales  Zygophyllaceae  ...                 NaN         NaN
119247  Zygophyllales  Zygophyllaceae  ...                 NaN         NaN

[119248 rows x 8 columns]

# Data Cleaning and Extractions

## View CSV files

In [ ]:
visitation_data.head()

  Created By  Measure Selector  ...  Visitors YearRaw
0     Legacy                 1  ...    1500.0    1904
1     Legacy                 1  ...       0.0    1941
2     Legacy                 1  ...   69000.0    1961
3     Legacy                 1  ...    2200.0    1935
4     Legacy                 1  ...  468144.0    1982

[5 rows x 18 columns]

In [ ]:
park_data.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [ ]:
species_data.head()

  Species ID             Park Name  ... Conservation Status Unnamed: 14
0  ACAD-1000  Acadia National Park  ...                 NaN         NaN
1  ACAD-1001  Acadia National Park  ...                 NaN         NaN
2  ACAD-1002  Acadia National Park  ...  Species of Concern         NaN
3  ACAD-1003  Acadia National Park  ...          Endangered         NaN
4  ACAD-1004  Acadia National Park  ...                 NaN         NaN

[5 rows x 15 columns]

## Clean species data and make it import ready

In [ ]:
# Remove unnecessary columns
cols_to_drop = ['Order', 'Park Name','Family','Record Status', 'Abundance', 'Seasonality', 'Conservation Status','Unnamed: 14']
species_data.drop(columns=cols_to_drop,inplace=True)
# species_data.head()

# remove all rows with missing values in all columns
cols = ["Species ID","Park_code","Category","Scientific Name","Common Names","Occurrence","Nativeness"]
# print(species_data.columns)
# Only keep the data related to mammals and birds
species = species_data.query('Category == "Mammal" or Category == "Bird"')
# species = species.concat([pd.Series(row['Species ID'], row['Common Names'].split(',')) for _, row in species.iterrows()]).reset_index()


# split the column "common names" by a comma and add each item as a row
species = species.set_index(['Species ID',"Park_code","Category","Scientific Name","Occurrence","Nativeness"]).apply(lambda x: x.str.split(',').explode()).reset_index()

# Empty items in Occurrence and Nativeness should be changed to 'Not Confirmed' and 'Unknown'
species[['Occurrence']].fillna(value='Not Confirmed', inplace=True)
species[['Nativeness']].fillna(value='Unknown', inplace=True)
species['Common Names'] = species['Common Names'].str.strip()
species['Common Names'] = species['Common Names'].map(lambda x: re.sub(r'[^\w\s]', '', x))

missing = species_data[cols].copy()
for col in cols:
  missing[col] = missing[col].str.contains('?', regex=False)
missing = missing.any(axis=1)
missing = missing.index[missing]
species_data = species_data.drop(labels=missing)

species.sort_values(by=['Species ID', 'Category'], inplace=True)
species.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

  Species ID Park_code  ...  Nativeness               Common Names
0  ACAD-1000      ACAD  ...      Native                      Moose
1  ACAD-1001      ACAD  ...      Native  Northern WhiteTailed Deer
2  ACAD-1001      ACAD  ...      Native              Virginia Deer
3  ACAD-1001      ACAD  ...      Native           WhiteTailed Deer
4  ACAD-1002      ACAD  ...  Not Native                     Coyote

[5 rows x 7 columns]

### Create import template

In [ ]:
#view items with NA
species_data.loc[:, species_data.isna().any()]

           Occurrence  Nativeness
0             Present      Native
1             Present      Native
2             Present  Not Native
3       Not Confirmed      Native
4             Present     Unknown
...               ...         ...
119243        Present      Native
119244        Present      Native
119245        Present  Not Native
119246        Present      Native
119247        Present  Not Native

[119227 rows x 2 columns]

In [ ]:
# Write to the CSV import file
species.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/species_import.csv', index=False)

## Clean visitation data CSV table and make it import ready

In [ ]:
# keep only necessary columns
cols_to_keep = ['Unit Code', 'Unit Type', 'Visitors','YearRaw']
visitation_data = visitation_data[cols_to_keep]
# visitation_data.head()

# remove all rows with missing values in all columns
cols = ['Unit Code']
missing = visitation_data[cols].copy()
for col in cols:
  missing[col] = missing[col].str.contains('?', regex=False)
missing = missing.any(axis=1)
missing = missing.index[missing]
visitation_data = visitation_data.drop(labels=missing)

# remove all rows with missing values in all columns
cols = ['Visitors']
for col in cols:
  missing = visitation_data.index[visitation_data[col].isna()]
  visitation_data.loc[missing, col] = 0

# Remove the rows that has totals
visitation_data = visitation_data[visitation_data.YearRaw != 'Total']

visitation_data.rename(columns={"Unit Code": "parkcode", 
                                "Unit Type":"unit_type",
                            "Visitors": "total_visitors", 
                            "YearRaw": "year"}, inplace=True)

visitation_data.sort_values(by=['parkcode'], inplace=True)

# Only keep the data related to mammals and birds
visitation_data.head()

      parkcode                 unit_type  total_visitors  year
11015     ABLI  National Historical Park        292825.0  1987
17408     ABLI  National Historical Park        331300.0  1960
13614     ABLI  National Historical Park        355687.0  1978
1621      ABLI  National Historical Park        241264.0  2014
99        ABLI  National Historical Park        175000.0  1934

### Create import template

In [ ]:
# Write to the CSV import file
visitation_data.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/visitation_data_import.csv', index=False)

## Clean park info data CSV table and make it import ready

### Get the list of park codes for API call data extraction

In [ ]:
list_of_parkcodes = []
try:
    file = open(parks_path, 'r')
    lines = file.readlines()[1:]
    for line in lines:
        # print(line)
        words = line.split(",")
        park_code = words[0]
        # print(park_code)
        list_of_parkcodes.append(park_code)
    file.close()
except:
    print("Error! File cannot be opened!")
    exit()

In [ ]:
print(list_of_parkcodes)

['ACAD', 'ARCH', 'BADL', 'BIBE', 'BISC', 'BLCA', 'BRCA', 'CANY', 'CARE', 'CAVE', 'CHIS', 'CONG', 'CRLA', 'CUVA', 'DENA', 'DEVA', 'DRTO', 'EVER', 'GAAR', 'GLAC', 'GLBA', 'GRBA', 'GRCA', 'GRSA', 'GRSM', 'GRTE', 'GUMO', 'HALE', 'HAVO', 'HOSP', 'ISRO', 'JOTR', 'KATM', 'KEFJ', 'KOVA', 'LACL', 'LAVO', 'MACA', 'MEVE', 'MORA', 'NOCA', 'OLYM', 'PEFO', 'PINN', 'REDW', 'ROMO', 'SAGU', 'SEKI', 'SHEN', 'THRO', 'VOYA', 'WICA', 'WRST', 'YELL', 'YOSE', 'ZION']

### Get the API response set-up

In [ ]:
api_url = "https://developer.nps.gov/api/v1/parks?parkCode=" #general park info
# api_url = "https://developer.nps.gov/api/v1/thingstodo?parkCode=" #specific activities, including trails
param = "&api_key="

#### Function to flatten nested JSON objects

In [ ]:
# Source: https://stackoverflow.com/questions/52795561/flattening-nested-json-in-pandas-data-frame
def flatten_json(nested_json, exclude=['']):
  """Flatten json object with nested keys into a single level.
        Args:
            nested_json: A nested json object.
            exclude: Keys to exclude from output.
        Returns:
            The flattened json object if successful, None otherwise."""
  out = {}
  # print("in flatten_json")

  def flatten(obj, name='', exclude=exclude):
      if type(obj) is dict:
        for key in obj:
          if key not in exclude:
            flatten(obj[key], name + key + '_')
      elif type(obj) is list:
          i = 0
          for item in obj:
            flatten(item, name + str(i) + '_')
            i += 1
      else:
        out[name[:-1]] = obj

  flatten(nested_json)
  return out

#### Flattened JSON objects and create dataframe

In [ ]:
parks_info = pd.DataFrame()

for park_code in list_of_parkcodes:
  # key = input("Enter key:")
  key = "rpm9HIDzfJhHfpIFnDpDCzSWRhFl1zCLw37RN1O7"
  url_text = f'{api_url}{park_code}{param}{key}'
  res = requests.get(url=url_text)
  data = res.json()
  flattened = flatten_json(data)
  park_info = pd.json_normalize(flattened)
  parks_info = parks_info.append(park_info)
  parks_info.head()

In [ ]:
parks_info.head()

  total  ... data_0_operatingHours_4_exceptions_1_endDate
0     1  ...                                          NaN
0     1  ...                                          NaN
0     1  ...                                          NaN
0     1  ...                                          NaN
0     1  ...                                          NaN

[5 rows x 707 columns]

### Initial data clean-up on park_info (Converting from spreadsheet style data)

In [ ]:
# Dropping unnecessary columns
parks_info.drop(columns=["total","limit", "start","data_0_latLong"],inplace=True)

# Removing "data_0_" prefix from all column names
parks_info.columns = parks_info.columns.str[7:]

# Removing all columns containing words "topics" and "operatingHours"
cols_to_remove = ['topics', 'operatingHours']
for word in cols_to_remove:
  parks_info = parks_info[parks_info.columns.drop(list(parks_info.filter(regex=word)))]
# parks_info.head()

# Rename columns
parks_info.rename(columns={"url": "website", 
                            "fullName": "parkname", 
                            "parkCode": "parkcode", 
                            "contacts_phoneNumbers_0_phoneNumber": "phone_number", 
                            "contacts_emailAddresses_0_emailAddress": "email", 
                            "weatherInfo": "weather", 
                            "entranceFees_0_cost": "entrance_fees_vehicle", 
                            "entranceFees_1_cost": "entrance_fees_motorcycle", 
                            "entranceFees_2_cost": "entrance_fees_individuals", 
                            "entrancePasses_0_cost":"entrance_pass_fees", 
                            "directionsInfo":"direction",
                            "addresses_0_line1":"address_line_1",
                            "addresses_0_line2":"address_line_2",
                            "addresses_0_line3":"address_line_3",
                            "addresses_0_stateCode":"state",
                            "addresses_0_city":"city",
                            "addresses_0_postalCode":"zipcode"}, inplace=True)

cols_to_remove = ['contacts', 'entranceFees', 'entrancePasses', 'addresses']
parks_info = parks_info.replace(r'^\s*$', np.NaN, inplace=False, regex=True)

# Replace the empty cells with 0  for  entrance_fees_motorcycle, entrance_fees_individuals, entrance_pass_fees
# because the entry is free per the visual inspection
parks_info[['entrance_fees_motorcycle','entrance_fees_individuals', 'entrance_pass_fees']].fillna(value=0, inplace=True)

# TODO: address_line_2 and address_line_3: empty cells should be replaced by "N/A" since some parks will not address line 2 and 3
parks_info[['address_line_2', 'address_line_3']].fillna(value='N/A', inplace=True)

# Removing all columns containing words
for word in cols_to_remove:
  parks_info = parks_info[parks_info.columns.drop(list(parks_info.filter(regex=word)))]
parks_info.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

                                     id  ... images_29_url
0  6DA17C86-088E-4B4D-B862-7C1BD5CF236B  ...           NaN
0  36240051-018E-4915-B6EA-3F1A7F24FBE4  ...           NaN
0  B170CCF7-7AB9-48FF-950E-31815FD4DBB2  ...           NaN
0  C9056F71-7162-4208-8AE9-2D0AEFA594FD  ...           NaN
0  FBF9F793-5114-4B61-A5BA-6F9ADDFDF459  ...           NaN

[5 rows x 287 columns]

## Extracting activities data out of the spreadsheet style dataframe into activities dataframe

In [ ]:
activities_cols = ["parkcode"]
activities_cols.extend([col for col in parks_info if 'activities' in col]) 
activities = parks_info[activities_cols]
activities.head()

activities_df = pd.DataFrame()
for i in range(56):
  activity_name = "activities_" + str(i) + "_name"
  temp = activities[['parkcode', activity_name]]
  temp = temp.rename(columns={activity_name: "activity"})
  # print(temp)
  activities_df = activities_df.append(temp)
# activities_df.head(25)
activities_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
activities_df.sort_values(by=['parkcode', 'activity'], inplace=True)
activities_df.head(100)

   parkcode          activity
0      acad  Arts and Culture
0      acad         Astronomy
0      acad            Biking
0      acad      Birdwatching
0      acad         Boat Tour
..      ...               ...
0      bibe          Canoeing
0      bibe           Fishing
0      bibe              Food
0      bibe      Guided Tours
0      bibe            Hiking

[100 rows x 2 columns]

In [ ]:
parks_info = parks_info[parks_info.columns.drop(list(parks_info.filter(regex='activities')))]
parks_info.head()

                                     id  ... images_29_url
0  6DA17C86-088E-4B4D-B862-7C1BD5CF236B  ...           NaN
0  36240051-018E-4915-B6EA-3F1A7F24FBE4  ...           NaN
0  B170CCF7-7AB9-48FF-950E-31815FD4DBB2  ...           NaN
0  C9056F71-7162-4208-8AE9-2D0AEFA594FD  ...           NaN
0  FBF9F793-5114-4B61-A5BA-6F9ADDFDF459  ...           NaN

[5 rows x 175 columns]

### Create import template &&&

In [ ]:
# Write to the CSV import file
# activities_df.dropna()
activities_df.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/activities_import.csv', index=False)

activities_df = activities_df["activity"]
activities_df = activities_df.drop_duplicates()
# print(type(activities_df))
# sort the activites
activities_df.sort_values(ascending=True, inplace=True)

# activities_df.dropna()
activities_df.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/unique_activities_import.csv', index=False)

## Extracting image data out of the spreadsheet style dataframe into images dataframe

In [ ]:
image_cols = ["parkcode"]
image_cols.extend([col for col in parks_info if 'images' in col]) 
# print(image_cols)
images = parks_info[image_cols]
images.head()
images_df = pd.DataFrame()
for i in range(30):
  image_title = "images_" + str(i) + "_title"
  image_url = "images_" + str(i) + "_url"
  image_altText = "images_" + str(i) + "_altText"
  image_caption = "images_" + str(i) + "_caption"
  temp = images[['parkcode', image_title, image_url, image_altText, image_caption]]
  temp = temp.rename(columns={image_title: "title", image_url: "url", image_altText: "altText", image_caption:'caption'})
  # print(temp)
  images_df = images_df.append(temp)

images_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
images_df.sort_values(by=['parkcode', 'title'], inplace=True)
images_df.head(25)

  parkcode  ...                                            caption
0     acad  ...  Millions of people come to Acadia for our dist...
0     acad  ...  Whether it's a stroll along Ocean Path or a di...
0     acad  ...  During the colder months snows transform our l...
0     acad  ...  As the tallest point on the eastern seaboard C...
0     arch  ...  Delicate Arch is perhaps the most famous natur...
0     arch  ...  Double O Arch is one of many large arches in t...
0     arch  ...    Arches offers some excellent night sky viewing.
0     arch  ...  The Park Avenue trail is one of many hiking tr...
0     arch  ...  The Organ rock formation is reflected in one o...
0     badl  ...  Badlands formations are very rugged and often ...
0     badl  ...  Summer storms are frequently violent and unpre...
0     badl  ...  The yellow mounds are peaking out of the forma...
0     badl  ...  Winter in Badlands National Park often creates...
0     badl  ...  The park has seasonal changes in colors so pla...
0     bibe  ...  The balanced rock is a popular day hiking dest...
0     bibe  ...  Cenizo, or Big Bend Silverleaf blossoms after ...
0     bibe  ...     When ocotillo bloom, they transform the desert
0     bibe  ...  Century Plants bloom only once in their long l...
0     bibe  ...         The Chisos Mountains rise above the desert
0     bibe  ...   Big Bend is a prime example of Chihuahuan Desert
0     bibe  ...             Volcanic features abound near Castolon
0     bibe  ...  The Rio Grande serves as the park's southern b...
0     bibe  ...                                 Santa Elena Canyon
0     bibe  ...  Hiking the Lost Mine Trail affords many amazin...
0     bibe  ...     Big Bend is home to over 450 species of birds!

[25 rows x 5 columns]

In [ ]:
images_df.head(25)

  parkcode  ...                                            caption
0     acad  ...  Millions of people come to Acadia for our dist...
0     acad  ...  Whether it's a stroll along Ocean Path or a di...
0     acad  ...  During the colder months snows transform our l...
0     acad  ...  As the tallest point on the eastern seaboard C...
0     arch  ...  Delicate Arch is perhaps the most famous natur...
0     arch  ...  Double O Arch is one of many large arches in t...
0     arch  ...    Arches offers some excellent night sky viewing.
0     arch  ...  The Park Avenue trail is one of many hiking tr...
0     arch  ...  The Organ rock formation is reflected in one o...
0     badl  ...  Badlands formations are very rugged and often ...
0     badl  ...  Summer storms are frequently violent and unpre...
0     badl  ...  The yellow mounds are peaking out of the forma...
0     badl  ...  Winter in Badlands National Park often creates...
0     badl  ...  The park has seasonal changes in colors so pla...
0     bibe  ...  The balanced rock is a popular day hiking dest...
0     bibe  ...  Cenizo, or Big Bend Silverleaf blossoms after ...
0     bibe  ...     When ocotillo bloom, they transform the desert
0     bibe  ...  Century Plants bloom only once in their long l...
0     bibe  ...         The Chisos Mountains rise above the desert
0     bibe  ...   Big Bend is a prime example of Chihuahuan Desert
0     bibe  ...             Volcanic features abound near Castolon
0     bibe  ...  The Rio Grande serves as the park's southern b...
0     bibe  ...                                 Santa Elena Canyon
0     bibe  ...  Hiking the Lost Mine Trail affords many amazin...
0     bibe  ...     Big Bend is home to over 450 species of birds!

[25 rows x 5 columns]

In [ ]:
parks_info = parks_info[parks_info.columns.drop(list(parks_info.filter(regex='images')))]
parks_info.drop(columns=["name","designation"],inplace=True)
parks_info['description'] = parks_info['description'].map(lambda x: re.sub(r'[^\w\s]', '', x))
parks_info['weather'] = parks_info['description'].map(lambda x: re.sub(r'[^\w\s]', '', x))
parks_info.sort_values(by=['parkcode'], inplace=True)
parks_info.head()

                                     id  ...                                            weather
0  6DA17C86-088E-4B4D-B862-7C1BD5CF236B  ...  Acadia National Park protects the natural beau...
0  36240051-018E-4915-B6EA-3F1A7F24FBE4  ...  Visit Arches to discover a landscape of contra...
0  B170CCF7-7AB9-48FF-950E-31815FD4DBB2  ...  The rugged beauty of the Badlands draws visito...
0  C9056F71-7162-4208-8AE9-2D0AEFA594FD  ...  There is a place in Far West Texas where night...
0  FBF9F793-5114-4B61-A5BA-6F9ADDFDF459  ...  Within sight of downtown Miami yet worlds away...

[5 rows x 23 columns]

### Create import template

In [ ]:
# parks_info[['address_line_2', 'address_line_3']].fillna(value='N/A', inplace=True)
parks_info['address_line_2'] = parks_info['address_line_2'].fillna('N/A')
parks_info['address_line_3'] = parks_info['address_line_3'].fillna('N/A')

# Write to the CSV import file
parks_info.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/parks_import.csv', index=False)
images_df.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/images_import.csv', index=False)

## Extracting state(s) where the park is located out of the main dataframe into states dataframe

In [ ]:
park_states = parks_info[["parkcode", "states"]]
parks_info = parks_info.columns.drop("states")
# source: https://stackoverflow.com/questions/12680754/split-explode-pandas-dataframe-string-entry-to-separate-rows

park_states = pd.concat([pd.Series(row['parkcode'], row['states'].split(','))              
                    for _, row in park_states.iterrows()]).reset_index()
park_states.rename(columns={"index": "state", 0: "parkcode"}, inplace=True)
# print(park_states.columns)
# print(type(park_states))
park_states =  park_states[["parkcode","state"]]
park_states.sort_values(by=["parkcode", "state"], inplace=True)
park_states.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
park_states.head(25)

   parkcode state
0      acad    ME
1      arch    UT
2      badl    SD
3      bibe    TX
4      bisc    FL
5      blca    CO
6      brca    UT
7      cany    UT
8      care    UT
9      cave    NM
10     chis    CA
11     cong    SC
12     crla    OR
13     cuva    OH
14     dena    AK
15     deva    CA
16     deva    NV
17     drto    FL
18     ever    FL
19     gaar    AK
20     glac    MT
21     glba    AK
22     grba    NV
23     grca    AZ
24     grsa    CO

## Create import template

In [ ]:
# Write to the CSV import file
park_states.to_csv(r'/content/drive/Shareddrives/CIS 550 Project/Import Files/states_import.csv',index=False)